[Desktop Entry]
Type=Application
Name=Eclipse Control Center
Comment=Audio, network, power and session controls
Exec=ec-center
Categories=Settings;System;
Keywords=control;center;audio;network;power;eclipse;
