// SPDX-License-Identifier: AGPL-3.0-only
// Minimize genie: the window funnels down into its taskbar chip.
label "Genie"
events "minimize"
shader "genie.frag"
margin 48
reach #true
duration-ms 460
curve "linear"
